<% include layout/header %>
<div class="cantai" >
    <!-- <h2>Dashboard</h2><br> -->
    <div style="padding: 10px 0px;  border-radius: 7px; margin-bottom: 10px;"><i class="fas fa-home"></i> / Dashboard </div>
    <div class="kis-grid">
 
        <div class="line box3">

        </div>
        <div class="line box4">

        </div>
        <div class="line box5" style="overflow: hidden; border: 3px solid #478dd4;">
          <iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FBangkok&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=cnVuZ25pcmFuMTExMUBnbWFpbC5jb20&src=Y2xhc3Nyb29tMTA3MjM3MTQ3MTMxMzY3NzE1MDA4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y2xhc3Nyb29tMTA4NDc5OTI4OTcwNTAzNTYwMjMyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4udGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=dGgudGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%233F51B5&color=%230B8043&color=%237986CB&color=%23009688&color=%237986CB" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="line box6" >
            <canvas id="myChart" style="height: 100%; width: 100%;"></canvas>             
        </div>
    </div>
</div>
<% include layout/footer %>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [<%= month %>],
            datasets: [{
                data: [<%= value %>],
                backgroundColor: [
                    // 'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    // 'rgba(255, 206, 86, 0.2)',
                    // 'rgba(75, 192, 192, 0.2)',
                    // 'rgba(153, 102, 255, 0.2)',
                    // 'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    // 'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    // 'rgba(255, 206, 86, 1)',
                    // 'rgba(75, 192, 192, 1)',
                    // 'rgba(153, 102, 255, 1)',
                    // 'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
    });
    </script>
    
     