<div class="modal fade" id="fomrDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg"><!--  modal-dialog-centered -->
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">รายละเอียด</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">ชื่อ</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id="nameLastName"  disabled="disabled">
				   </div>
			    </div>
				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">เลขพนังงาน</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id="numberPersonnel"  disabled="disabled">
				   </div>
			   </div>
			   <div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">ตำแหน่ง</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id="position"  disabled="disabled">
				   </div>
			   </div>
			   <div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">วันที่/เดือน/ปี</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id="dayMonthYear"  disabled="disabled">
				   </div>
			   </div>
			    <div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">เวลาเเข้างาน</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id="T"  disabled="disabled">
				   </div>
			   </div>
			   <div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">ออกงานเวลา</label>
					<div class="col-sm-10">
					    <input type="email" class="form-control" id=""  disabled="disabled">
				   </div>
			   </div>
			</div>
		</div>
	</div>
</div>